/.metadata
/bme688_helper_01/.project
/bme688_helper_01/.classpath
/bme688_helper_01/.settings/
/bme688_helper_01/.externalToolBuilders
/bme688_helper_01/target/

/bme688_client_01/BoxConf.h

bme688_client_01/esp32s3.svd
bme688_client_01/debug.cfg
bme688_client_01/debug_custom.json
